<form
  nz-form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="login-form"
  nzLayout="vertical"
>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="username" nzRequired>Username</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input your username!">
      <input nz-input id="username" formControlName="username" placeholder="Enter your username" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Password is required!">
      <input
        nz-input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter your password"
      />
    </nz-form-control>
  </nz-form-item>

  <div class="register-link" style="margin-bottom: 16px;">
    Don't have an account? <a routerLink="/register">Register here</a>
  </div>

  <div class="form-footer">
    <button nz-button nzType="primary" class="login-button" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>
